body {
  margin: 0;
  font-family: "Roboto Mono", monospace;
  background-color: rgb(255, 249, 221);
}

::selection {
  background-color: rgb(240, 166, 203);
}

.nav-div {
  background-color: rgb(195, 248, 248);
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 20px;
}

ul {
  font-weight: bold;
  list-style: none;
  padding-top: 1%;
  padding-bottom: 1%;
  display: flex;
  justify-content: space-around;
}

.nav-anchor {
  text-decoration: none;
  color: deeppink;
}

.all-section {
  display: flex;
  background-image: url(images/bg.jpg);
  background-repeat: no-repeat;
}

.adjust-div {
  margin-left: 10%;
  padding: 5%;
}

#first-div {
  margin-top: 9%;
}

h1 {
  font-size: 40px;
}

span {
  color: orangered;
  font-weight: bolder;
}

.adjust-font {
  font-size: 100%;
  padding-bottom: 50px;
}

.adjust-h2 {
  font-size: 30px;
}

.go-to {
  text-decoration: none;
  font-size: 20px;
  color: white;
  font-weight: bold;
  background: linear-gradient(to left, tomato, orange);
  padding: 15px 20px;
  border-radius: 30px;
}

#second-section {
  background-image: url(images/bg-2.jpg);
}

#second-section-div1 {
  margin-left: 0px;
}

.recipie-header {
  background-color: rgba(218, 251, 252, 0.938);
  border-radius: 20px;
  margin-left: 30%;
  margin-right: 30%;
  padding-left: 5%;
  padding-right: 5%;
}

.recipie-header-h2 {
  text-decoration: underline;
  text-decoration-color: rgb(250, 107, 11);
  text-decoration-style: wavy;
  text-align: center;
  padding-bottom: 20px;
}

.recipie-header-h3 {
  text-align: center;
  padding-bottom: 60px;
  color: black;
}

#third-section {
  background-image: none;
  background-color: rgba(218, 251, 252, 0.938);
}

.resize-image {
  width: 350px;
  height: 350px;
  border-radius: 10%;
  object-fit: cover;
}

.third-section-div {
  width: 22%;
  margin-left: 6%;
  margin-right: 6%;
  margin-top: 4%;
  margin-bottom: 10%;
  border-radius: 50px;
  padding-left: 1.5%;
  padding-top: 1%;
  padding-bottom: 1%;
  box-shadow: 7px 7px 60px rgb(7, 3, 3);
}

.last-div {
  background-color: rgb(250, 233, 235);
  display: flex;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 20%;
  margin-right: 20%;
  box-shadow: 4px 4px 40px rgb(221, 76, 19);
  border-radius: 20px;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.adjust-inside-of-last-div {
  margin-left: 7%;
  margin-right: 8%;
}

.go-top {
  margin-top: 2%;
  margin-bottom: 5%;
  margin-right: 5%;
  text-align: right;
}

#go-top {
  padding: 20px;
  border-radius: 50px;
}

.footer-div {
  background-color: black;
  border-bottom: solid;
  border-width: 10px;
  border-image: linear-gradient(to left, rgb(253, 2, 2), rgb(14, 6, 6));
  border-image-slice: 4;
}

.footer-h2 {
  color: rgb(253, 207, 138);
  padding-top: 40px;
  text-align: center;
  font-size: 20px;
}

.footer-h3 {
  color: white;
  text-align: center;
  font-size: 10px;
  padding-bottom: 50px;
}
